<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recibot - Índice</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Recibot</h1>
    <nav>
      <ul>
        <li><a href="#">Informativo</a></li>
        <li><a href="#">Materia Organica</a></li>
        <li><a href="#">Detector de Residuos</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h2>Bienvenido a Recibot</h2>
      <p>Recibot es una herramienta avanzada de gestión de y reduccion de los desechos organicos</p>
    </section>
<!--
    <section>
      <h2>Últimas publicaciones</h2>
      <article>
        <h3>Título del artículo 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a nulla eleifend, fermentum nisi at, pharetra lectus.</p>
      </article>
      <article>
        <h3>Título del artículo 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a nulla eleifend, fermentum nisi at, pharetra lectus.</p>
      </article>
    </section>
  </main>
-->
  <footer>
    <p>Derechos de autor &copy; 2023 Recibot. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
